<!DOCTYPE html>
<html>

<head>
    <title>{{`{{.Title}} | {{.Description}}`}}</title>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name="description" content="{{.Description}}">
    <meta name="twitter:image:src" content="/public/iklan.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{.Title}}" />
    <meta name="twitter:description" content="{{.Description}}" />
    <meta property="og:image" content="/public/iklan.png" />
    <meta property="og:image:alt" content="Iklan Baris" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    <meta property="og:site_name" content="Fastro.app" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="{{.Title}}" />
    <meta property="og:url" content="https://fastro.app" />
    <meta property="og:description" content="{{.Description}}" />
    <meta name="author" content="github.com/ynwd">
    <meta name="publish_date" property="og:publish_date" content="{{.PublishedDate}}">
    <style media=screen>
        body {
            margin: 0;
            padding: 0;
            min-height: 100%;
        }
        
        html,
        body,
        .container {
            height: 100%;
        }
        
        .container {
            background: #FFFFFF;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 10px;
        }
        
        .content-container {
            margin: 0 auto;
            max-width: 1024px;
        }
        
        .header {
            margin: 15px auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .register {
            width: 20%;
            text-align: right;
            margin: auto;
            min-width: 112px;
        }
        
        .title {
            width: 20%;
            min-width: 88px;
        }
        
        .footer {
            width: 100%;
            display: block;
            color: darkgrey;
            text-align: center;
            font-size: small;
            margin: 0 auto;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        
        .radius {
            border-radius: 30px;
        }
        
        .footer a {
            color: darkgrey;
            text-decoration: none;
        }
        
        .ads-header {
            max-width: calc(100%/5 - 10px);
            margin-bottom: 10px;
        }
        
        .content {
            display: flex;
            flex-wrap: wrap;
            align-content: baseline;
            justify-content: space-between;
            flex-grow: 1;
        }
        
        .topic {
            max-width: 260px;
            background-color: #FFFFFF;
        }
        
        .ads-header a,
        .ads-header a:hover {
            text-decoration: none;
            color: inherit;
        }
        
        .arial {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .left {
            text-align: left;
        }
        
        .right {
            text-align: right;
        }
        
        .center {
            text-align: center;
        }
        
        .main {
            font-size: xx-large;
            font-weight: bold;
            text-transform: capitalize;
        }
        
        .title-ad {
            text-transform: uppercase;
            font-size: small;
            background-color: black;
            color: #FFFFFF;
            padding: 10px 0;
            width: 100%;
        }
        
        .bold {
            font-weight: bold;
        }
        
        .txt {
            margin-top: 5px;
            text-align: justify;
            display: block;
        }
        
        .cap {
            text-transform: capitalize;
        }
        
        .search-container {
            flex-grow: 1;
            padding: 0 10px;
        }
        
        .border {
            border-width: 1px;
            border-top-style: solid;
            border-color: rgb(214 214 214);
        }
        
        .search,
        .search:focus {
            margin: auto;
            width: 100%;
            height: 33px;
            padding-left: 10px;
            outline: unset;
        }
        
        .masuk {
            border-width: 1px;
            border-top-style: solid;
            min-height: 30px;
        }
        
        .pasang,
        .pasang:hover {
            text-decoration: none;
        }
        
        .margin-auto {
            margin: 0 auto;
        }
        
        .mobile {
            display: none;
        }
        
        @media all and (min-width: 601px) and (max-width: 700px) {
            .ads-header {
                max-width: calc(100%/4 - 10px);
            }
            .title {
                width: 25%;
            }
            .search,
            .search:focus {
                width: 95%;
            }
        }
        
        @media all and (min-width: 481px) and (max-width: 600px) {
            .ads-header {
                max-width: calc(100%/3 - 10px);
            }
            .search,
            .search:focus {
                width: 95%;
            }
        }
        
        @media all and (min-width: 320px) and (max-width: 480px) {
            .ads-header {
                max-width: calc(100%/2 - 5px);
                background-color: #fefefe;
            }
            .content {
                max-width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 auto;
                max-height: unset;
            }
            .wrapper {
                height: unset;
                border-style: unset;
            }
            .card {
                margin-right: unset;
                max-width: unset;
            }
            .mobile {
                display: flex;
            }
            .title {
                min-width: 37px;
                width: 37px;
                color: white;
                text-align: center;
                background-color: #000;
                border-radius: 5px;
            }
            .desktop {
                display: none;
            }
            .search,
            .search:focus {
                width: 100%;
            }
            .pasang {
                display: none;
            }
            .register {
                min-width: 20%;
            }
        }
        
        @media all and (min-width: 50px) and (max-width: 319px) {
            .ads-header {
                max-width: 100%;
                background-color: #fefefe;
            }
            .desktop {
                display: none;
            }
            .search,
            .search:focus {
                width: 100%;
            }
            .mobile {
                display: flex;
            }
            .title {
                min-width: 37px;
                width: 37px;
                color: white;
                text-align: center;
                background-color: #000;
                border-radius: 5px;
            }
            .search-container {
                padding: 0 15px;
            }
            .register {
                display: none;
            }
            .header {
                flex-wrap: unset;
            }
        }
    </style>
</head>

<body>
    <div class=container>
        {{template "_header_idx"}}
        <div class="content-container wrapper content">
            {{ range $key, $value := .Data }} {{if .Header}}
            <div class="ads-header">
                <a href="/topic/{{.Topic}}">
                    <div class="title-ad card center arial bold">
                        {{.Header}} ({{.Size}})
                    </div>
                </a>
                <a class="arial txt" href="/post/{{.ID}}"><span class="cap">{{.Title}} </span>{{.Content}}</a>
            </div>
            {{else}}
            <div class="card arial">
                <a class="arial txt" href="/post/{{.ID}}"><span class="cap">{{.Title}} </span>{{.Content}}</a>
            </div>
            {{end}} {{end}}
        </div>
        {{template "_footer"}}
    </div>
</body>

</html>