<!DOCTYPE html>
<html>

<head>
    <title>{{`{{.Title}} | {{.Domain}}`}}</title>{{template "_meta" .}} {{template "_style" .}}</head>

<body>
    <div class=container>
        {{template "_header_idx"}}
        {{template "_headline"}}
        <div class="content-container content">
            <div class="wrapper">
              {{ range $key, $value := .Data }} {{if .Header}}
              <div class="ads-header">
                  <a href="/topic/{{.Topic}}">
                      <div class="title-ad card center arial bold">
                          {{.Header}} ({{.Size}})
                      </div>
                  </a>
                  <a class="arial txt" href="/post/{{.ID}}"><span class="cap">{{.Title}} </span>{{.Content}}</a>
              </div>
              {{else}}
              <div class="card arial">
                  <a class="arial txt" href="/post/{{.ID}}"><span class="cap">{{.Title}} </span>{{.Content}}</a>
              </div>
              {{end}} {{end}}
            </div>
        </div>
        {{template "_footer"}}
    </div>
</body>

</html>