{{define "_headline"}}
<div class="content-container header headline-container">
    <div class="headline-wrapper">
      <h1 class="headline">Iklan Baris Online</h1>
      <h2 class="sub-headline">Gampang dicari, ringan, dan nyaman dibaca</h2>
    </div>
</div>
{{end}}