{{define "home_header"}}
<div class="header">
    <div class="title-container">
        <div class="title">{{.Title}}</div>
    </div>
    <div class="avatar-container">
        <div class="avatar">{{.Initial}}</div>
    </div>
</div>
{{end}}